body{
    margin: 0px;
    overflow: hidden;
}
header {
    direction: rtl;
    background-color:#fdfdf5e6;
    backdrop-filter: blur(10px);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    z-index: 2;
  
    .container-name{
      flex-grow: 0;
      .logo{
        font-size: 20px;
        margin-left: 10 px;
      }
    }
    form{
      
      flex-grow: 1;
      display: flex;
      justify-content: center;
      input{
        
        border: none;
        border-radius: 0px 20px 20px 0px;
        width: 30%;
        height: 30px;
        border:0.5px solid rgb(160, 158, 158);
        border-left: none;
      }
      input[type="text"]::placeholder{padding: 10px;}
      button[type="submit"]
      {
        width:40px;
        color:rgb(116, 116, 116);
        background-color: white;
        margin-right:0px;
        padding-right:0px;
        border-radius: 20px 0px 0px 20px;
        border:0.5px solid rgb(160, 158, 158);
         border-right: 1px solid rgb(212, 212, 212);
        }
    }
  
    
    ul{
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      flex-grow: 1;
      li{
        list-style: none;
        a{
        text-decoration:none;
        color: black;
        } 
        .reg{
          background-color: #F3D67E;
          padding: 3px 7px;
          border-radius: 50px;
        }
      }
    }
  }
  .dropdown{
    position: relative;
    
  }
  .dropdown-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    visibility: hidden;
    position: absolute;
    background-color:#fdfdf5e6;
    backdrop-filter: blur(10px);
    padding: 0px;
    right: -200px;
    top:0px;
    width: 500px;
    height: 0px;
    opacity: 0; /* Set initial opacity to 0 */
    pointer-events: none; /* Add this to prevent interaction when hidden */
    transition:top 1s cubic-bezier(0, 0.79, 0.25, 1) 0s;
    transition: height 1s cubic-bezier(0.01, 0.7, 0.27, 1.02);
}

  
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-menu  {
    visibility: visible;
    opacity: 1; /* Set opacity to 1 on hover to fade in */
    pointer-events: auto; /* Restore pointer events on hover */
    position: absolute;
    top:40px;
    height: 200px;
  }
  .dropdown-menu a {
    opacity:0 ;
    transition: opacity 3s cubic-bezier(0.4, 0, 0.2, 1);
    
  }
  .dropdown-menu li{
    margin-bottom: 12px;
  }
    
  
  .dropdown:hover .dropdown-menu a{
    opacity: 1;
    margin-bottom: 9px;
   
  }

  .container{
    height:100vh;
    position: relative;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 40px;
    justify-content:center;
    z-index: 1;
    transform: translateX(-0%);
    transition: transform 1s;
    
  }
  .container::-webkit-scrollbar {
    width: 0.5em; /* Adjust the width as needed */
  }

  .container::-webkit-scrollbar-thumb {
     background-color: transparent; /* Hide the thumb */
   } 

  img{
    border-radius: 20px;
  }

.container2{
    display: none;
    position: absolute;
    top: 50px;
    right: 0px;
    height:calc(100vh - 50px);
    width: 0px;
    direction:rtl;
    z-index: 2;
    border-radius: 10px 0px 0px 10px;
    background-color:#fdfdf5e6;
    backdrop-filter: blur(10px);
    transition: width 1s ease;
    
}
.selected{
    .container2{
        display: none;
    }
}
.flex-start {
  justify-content: flex-start;
  transition: justify-content 1s ease-in-out;
}
.gap{
  column-gap:20px !important ;
}

.gg-close {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  
  
}
button{padding: 3px; background-color: #ffffff; border: none;}

.gg-close::after,
.gg-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px
}
.gg-close::after {
  transform: rotate(-45deg)
}
.closeAnm{
  width: 370px;
}
.over{
  overflow: hidden;
}
.overON{
  overflow: scroll;
}
.imgs{
  position: absolute;
  top: 30px;
  right: 30px;
  width: 80%;
  object-fit:cover;
}

.gg-shopping-cart {
  position: absolute;
  top : 250px;
  right: 50px;  
  display: block;
  box-sizing: border-box;
  position: relative;
  transform: scale(var(--ggs,1));
  width: 20px;
  height: 21px;
  background:
  linear-gradient(
  to left,currentColor 12px,
  transparent 0)
  no-repeat -1px 6px/18px 2px,
  linear-gradient(
  to left,currentColor 12px,
  transparent 0)
  no-repeat 6px 14px/11px 2px,
  linear-gradient(
  to left,currentColor 12px,
  transparent 0)
  no-repeat 0 2px/4px 2px,
  radial-gradient(
  circle,currentColor 60%,
  transparent 40%)
  no-repeat 12px 17px/4px 4px,
  radial-gradient(
  circle,currentColor 60%,
  transparent 40%)
  no-repeat 6px 17px/4px 4px
 }

 .gg-arrow-top-left {
  position: absolute;
  top: 10px;
  right:90%;
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 8px;
  height: 8px;
  transform: scale(var(--ggs,1));
  border-top: 2px solid;
  border-left: 2px solid
 }
 
 .gg-arrow-top-left::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 14px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  top: 3px;
  left: -3px
 } 
